# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.idea/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project specific
downloads_*/
classes.json
*.log

# Distribution packages
dist/
build/
*.egg-info/
用户分发包/
chess_downloader_*/
